:root {
	/* Change it from #df141e to #2962ff */
	--bg_seachButton: #df141e;
}

.searchBox {
	position: fixed;
	margin-top: 97px;
	left: 29px;
	transform: translate(-50%, -50%);
	background: #2f3540;
	height: 40px;
	border-radius: 40px;
	padding: 0;
	z-index: 2;
}
.searchBox:hover {
	padding-left: 10px;
	background-color: rgba(0,0,0,.6)
}
.searchBox:hover > .searchTxt {
	width: 210px; /*Do not exceed 210px*/
	padding: 0 6px;
	margin-left: 270px;
}
.searchBox:hover > .searchButton {
	background: var(--bg_searchButton);
	color: white;
}
.searchButton {
	color: #DF141E;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--bg_searchButton);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.8s;
}
.searchTxt {
	margin-top: 10px;
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color : white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px;
}
