:root {
	--black: #000;
}

.display-contact-nav {
	cursor: pointer;
}


.contactBox-before {
	background: var(--white);
	z-index: 0;
	position: fixed;
	top: 11%;
	left: 30%;
	width: 700px;
	height: 750px;
	border: 1px solid var(--black);
	border-radius: 10px;
	opacity: 0;
	transform: translate(-1000px, 0);
	transition: .4s;
	padding: 24px;
}

.contactBox-after {
	background: var(--white);
	z-index: 15;
	position: fixed;
	top: 11%;
	left: 30%;
	width: 700px;
	height: 750px;
	border: 1px solid var(--black);
	border-radius: 10px;
	opacity: 1;
	transform: translate(0, 0);
	transition: .4s;
}

.contact-map {
	position: fixed;
	float: bottom;
	border: 1px solid var(--black);
	top: 43.5%;
}

#contact-content .fa-times-circle {
	width: 40px;
	height: 40px;
	color: black;
	margin-left: 600px;
	position: absolute;
}