footer p {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
footer {
    position: fixed;
    padding-top: 0!important;
}

.footer-text-part2 {
    margin-left: 40px;
}

.down-bg {
    display: block;
}