.bg-red {
	background-color: #DF141E;
}
.searchBox {
	position: absolute;
	top: 50%;
	left: 350px;
	transform: translate(-50%, -50%);
	background: #2f3540;
	height: 40px;
	border-radius: 40px;
	padding: 0;
}
.searchBox:hover {
	padding-left: 10px;
}
.searchBox:hover > .searchTxt {
	width: 210px; !Do not exceed 210px
	padding: 0 6px;

}
.searchBox:hover > .searchButton {
	background: #DF141E;
	color: white;
}
.searchButton {
	color: #DF141E;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3540;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.8s;
}
.searchTxt {
	margin-top: 10px;
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color : white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px;
}
